.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(112, 112, 112, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 25%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 25px;
  border-radius: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.button-close {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.75rem;
  margin-left: 95%;
  color: #9c9a9a;
}
.button-close:hover {
  color: black;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-main {
    width: 80%;
    max-height: 85%;
    overflow: auto;
    padding: 12px 12px;
  }

  .button-close {
    font-size: 1.25rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and(max-width: 767px) and (min-width: 600px) {
  .modal-main {
    width: 70%;
    max-height: 90%;
    overflow: auto;
    padding: 12px 12px;
  }

  .button-close {
    font-size: 1.25rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .modal-main {
    width: 50%;
    max-height: 90%;
    overflow: auto;
    padding: 12px 12px;
  }

  .button-close {
    font-size: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .modal-main {
    width: 50%;
    max-height: 90%;
    overflow: auto;
    padding: 15px 15px;
  }

  .button-close {
    font-size: 1.65rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .modal-main {
    width: auto;
    max-height: 90%;
    overflow: auto;
    padding: 15px 15px;
  }

  .button-close {
    font-size: 1.75rem;
  }
}
