.header {
  display: flex;
  justify-content: space-between;
  padding: 13px 10px;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  border: 1px solid #e2e5e7;
}
.logo {
  width: auto;
  height: 2rem;
  padding: 10px 40px;
  cursor: pointer;
}
.navLinks {
  width: 22%;
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-top: 8px;
  font-weight: 600;
  justify-content: flex-end;
  padding: 0px 40px;
}

.link1:hover:after {
  transform: scaleX(1);
}

.link1 {
  margin: 0;
  margin-top: 9px;
  padding: 0px 10px;
  display: inline-block;
  border: none;
  background-color: inherit;
  font-size: large;
  font-weight: 500;
  margin-right: 10%;
  cursor: pointer;
}

.link1:after {
  display: block;
  content: "";
  padding: 0px 10px;
  margin-top: 8px;
  width: 110%;
  margin-left: -10px;
  border-bottom: solid 3px #365a0c;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link2 {
  background-color: #365a0c;
  border: none;
  border-radius: 20px;
  padding: 9px 22px;
  color: white;
  font-size: large;
  cursor: pointer;
  height: 2.5rem;
  font-weight: 500;
}

.link2:hover {
  background-color: #3f7205;
}

.username {
  margin-top: 5px;
  margin-left: 5px;
}

/*dropdown*/
.dropbtn {
  background-color: white;
  display: flex;
  border-radius: 20px;
  padding: 7px 22px;
  color: #365a0c;
  font-size: large;
  cursor: pointer;
  height: 3.2rem;
  font-weight: 500;
  border: 2px solid #365a0c;
}

.dropbtn:hover {
  background-color: #f5ffeac4;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(83, 82, 82, 0.2);
  z-index: 1;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
  margin-left: -15px;
}

.dropdown-content a,
.logout {
  color: #365a0c;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  margin: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.logout {
  border: none;
  display: flex;
  padding: 17px 30px;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
  width: 90%;
  display: flex;
  font-size: 1.15rem;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-content a:hover,
.logout:hover {
  background-color: #f3ffe6;
  border-radius: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    height: 1rem;
    padding: 10px 40px;
    cursor: pointer;
  }
  .link2 {
    display: none;
  }
  .link1 {
    margin-top: 7px;
    margin-right: 2%;
  }
  .link1::after {
    width: 100%;
  }

  .navLinks {
    width: 40%;
    margin-top: 0px;
  }

  .dropbtn {
    padding: 0px 11px;
    height: 2.2rem;
  }
  .dropdown-content {
    min-width: 180px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px) {
  .logo {
    height: 1.25rem;
    padding: 10px 40px;
    cursor: pointer;
  }

  .link1 {
    margin-top: 5px;
    font-size: 1rem;
    margin-right: 2%;
  }
  .link1::after {
    width: 100%;
  }

  .dropdown-content {
    min-width: 132px;
    margin-top: 0px;
  }

  .link2 {
    font-size: 1rem;
    margin-top: -5px;
    padding: 0px 20px;
  }
  .navLinks {
    width: 50%;
    margin-right: 5%;
    justify-content: flex-end;
  }

  .dropbtn {
    margin-top: -6px;
  }
  .dropdown-content {
    min-width: 215px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .logo {
    height: 1.5rem;
    padding: 10px 40px;
    cursor: pointer;
  }

  .dropdown-content {
    min-width: 132px;
  }

  .link1 {
    margin-top: 5px;
    font-size: 1.15rem;
    margin-right: 2%;
  }
  .link1::after {
    width: 100%;
  }

  .link2 {
    font-size: 1.15rem;
    margin-top: -3px;
    padding: 0px 20px;
  }
  .navLinks {
    width: 40%;
  }
  .dropdown-content {
    min-width: 216px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .header {
    max-height: 7vh;
    min-height: 5vh;
  }
  .logo {
    height: 1.75rem;
    padding: 10px 40px;
    cursor: pointer;
  }

  .link1 {
    margin-top: 5px;
    font-size: 1.25rem;
    margin-right: 2%;
  }
  .link1::after {
    width: 100%;
  }

  .link2 {
    font-size: 1.25rem;
    margin-top: -3px;
    padding: 0px 22px;
  }
  .navLinks {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .logo {
    height: 1.75rem;
    padding: 10px 40px;
    cursor: pointer;
  }

  .link1 {
    margin-top: 5px;
    margin-right: 2%;
  }
  .link1::after {
    width: 100%;
  }

  .link2 {
    margin-top: -2px;
    padding: 0px 22px;
  }
  .navLinks {
    width: 35%;
  }
}
