.container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  padding: 50px 50px;
  font-family: "Georgia Regular";
}

.container-1 {
  width: 45%;
  margin: 0 auto;
  line-height: normal;
  margin-top: 9%;
}
.image-sketch {
  height: 45.625rem;
}

.text-1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 2px;
  color: #707070;
}

.text-2 {
  font-weight: 600;
  font-size: 4.75rem;
  line-height: 1px;
  color: #f0ad11;
}

.text-3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 0px;
  letter-spacing: normal;
  color: #707070;
}

.button {
  background-color: #365a0c;
  border: none;
  width: 50%;
  margin-top: 2%;
  border-radius: 45px;
  padding: 22px 35px;
  color: white;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #3f7205;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 5px 5px;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
  }

  .container-1 {
    width: 100%;
    margin-top: 25%;
  }
  .image-sketch {
    display: none;
  }

  .text-1 {
    font-size: 1.5rem;
  }

  .text-2 {
    font-size: 3rem;
  }

  .text-3 {
    font-size: 1.5rem;
  }
  .button {
    padding: 15px 15px;
    width: 40%;
    font-size: 0.75rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px) {
  .container {
    padding: 5px 5px;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
  }

  .container-1 {
    width: 100%;
    margin-top: 15%;
  }
  .image-sketch {
    margin-top: 15%;
    height: 25.625rem;
  }

  .text-1 {
    font-size: 1.6rem;
  }

  .text-2 {
    font-size: 3.6rem;
  }

  .text-3 {
    font-size: 1.6rem;
  }
  .button {
    padding: 15px 18px;
    width: 50%;
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    padding: 5px 5px;
    margin-left: 7%;
    margin-right: 4%;
    width: 85%;
  }

  .container-1 {
    width: 100%;
    margin-top: 20%;
  }
  .image-sketch {
    margin-top: 15%;
    height: 30rem;
  }

  .text-1 {
    font-size: 1.75rem;
  }

  .text-2 {
    font-size: 3.75rem;
  }

  .text-3 {
    font-size: 1.75rem;
  }
  .button {
    padding: 15px 18px;
    width: 50%;
    font-size: 1.25rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container {
    padding: 5px 5px;
    margin-left: 7%;
    margin-right: 4%;
    width: 85%;
  }

  .container-1 {
    width: 40%;
    margin-top: 27%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .image-sketch {
    margin-top: 15%;
    height: 40rem;
  }

  .text-1 {
    font-size: 1.95rem;
  }

  .text-2 {
    font-size: 3.95rem;
  }

  .text-3 {
    font-size: 1.95rem;
  }
  .button {
    padding: 15px 18px;
    width: 53%;
    font-size: 1.45rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .container {
    padding: 5px 5px;
    margin-left: 7%;
    margin-right: 4%;
    width: 85%;
  }

  .container-1 {
    width: 40%;
    margin-top: 27%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .image-sketch {
    margin-top: 15%;
    height: 45rem;
  }

  .text-1 {
    font-size: 2.15rem;
  }

  .text-2 {
    font-size: 4.15rem;
  }

  .text-3 {
    font-size: 2.15rem;
  }
  .button {
    padding: 15px 18px;
    width: 53%;
    font-size: 1.65rem;
  }
}
