.text-input {
  width: 80%;
  padding: 18px 45px;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  margin-top: 2%;
  font-size: medium;
}
.form-fields {
  padding: 5px 20px;
}

.form-field {
  margin-top: 5%;
}

.label {
  color: black;
  font-weight: 600;
}

.button-1 {
  background-color: #365a0c;
  border: none;
  border-radius: 20px;
  padding: 18px 45px;
  color: white;
  font-size: large;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  margin-top: 5%;
}

.forgot-password {
  display: flex;
  cursor: pointer;
  margin-top: 4%;
}

.footer {
  text-align: center;
}

.sign-up-now {
  color: #365a0c;
  border: none;
  background: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.success {
  margin-top: 1%;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 12px 40px;
  border-radius: 6px;
  text-align: center;
}

.error {
  padding: 12px 40px;
  border-radius: 6px;
  margin-top: 1%;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-field {
    margin-top: 3%;
  }

  .label {
    font-size: 1rem;
  }

  .text-input {
    padding: 12px 38px;
    width: 75%;
  }

  .button-1 {
    padding: 12px 38px;
    font-size: 1rem;
    width: 100%;
  }
  .forgot-password {
    font-size: 0.8rem;
  }
  .footer {
    font-size: 1rem;
  }

  .sign-up-now {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px) {
  .form-field {
    margin-top: 3%;
  }

  .label {
    font-size: 1rem;
  }

  .text-input {
    padding: 12px 38px;
  }

  .button-1 {
    padding: 12px 38px;
    font-size: 1rem;
    width: 100%;
  }
  .forgot-password {
    font-size: 0.9rem;
  }
  .footer {
    font-size: 1rem;
  }

  .sign-up-now {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .forgot-password {
    font-size: 0.9rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .forgot-password {
    font-size: 0.9rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .forgot-password {
    font-size: 1rem;
  }
}
